@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Raleway');

.App {
  text-align: center;
}

* {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 3% 0;
  background-color: #af8286;
  color: white;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.post {
  background-color: #ffdde0;
  width: 300px;
  padding: 2% 0;
  margin-bottom: 2em;
}

.link {
  width: 100px;
  text-align: center;
}

.link a {
  color: white;
}

a {
  color: #af8286;
}
